.sectionLabel
{
	display:flex;
	justify-content: space-between;
	flex-direction:row;
	flex-basis:250px;
	flex-grow:1;
	text-decoration:none;
	transition-duration:1s
}
.subjectIcon
{
	width:50px;
	height:50px;
	margin:10px
}
.subSectionContainer
{
	display:flex;
	flex-wrap: wrap;
}
.subSectionContainer h4
{
	margin-top:25px;
}
.sectionLabel, .sectionDescription
{
	box-shadow: inset 0 0 100vh 100vh rgba(0, 0, 0, 0.5); 
	/* ↑↑↑↑↑↑↑ A workaround to do this "enlightment" effect on hover" */
}
.sectionLabel:hover
{
	text-shadow:1px 1px 3px black, 
		1px -1px 3px black, 
		-1px 1px 3px black, 
		-1px -1px 3px black;
	box-shadow: none;
	/* ↑↑↑↑↑↑↑ A workaround to do this "enlightment" effect on hover" */
}
.subSectionContainer a
{
	display:flex;
	flex-direction:row;
}
.info
{
	width:10px;
	height:10px;
	float:right;
	padding-top:10px;
	padding-right:10px;
	cursor:pointer;
}
.sectionDescription
{
	display:none;
	transform:scaleX(0);
}
