.subSectionContainer>*
{
	display:flex;
	flex-direction:row;
	flex-basis:200px;
	flex-grow:1;
	text-decoration:none;
	transition-duration:1s
}
#python
{
	background-color:#640000;
}
#python:hover
{
	background-color:#ff0000;
}
#C
{
	background-color:#643200
}
#C:hover
{
	background-color:#ff8000
}
#cpp
{
	background-color:#646400
}
#cpp:hover
{
	background-color:#ffff00
}
#csharp
{
	background-color:#326400
}
#csharp:hover
{
	background-color:#80ff00
}
#js
{
	background-color:#006400
}
#js:hover
{
	background-color:#00ff00
}
#html
{
	background-color:#006432
}
#html:hover
{
	background-color:#00ff80
}
#css
{
	background-color:#006464
}
#css:hover
{
	background-color:#00ffff
}
#shell
{
	background-color:#000064
}
#shell:hover
{
	background-color:#0000ff
}
#gnulinux
{
	background-color:#002164	
}
#gnulinux:hover
{
	background-color:#0055ff
}
#windows
{
	background-color:#005364	
}
#windows:hover
{
	background-color:#00d5ff
}
#mac
{
	background-color:#006442	
}
#mac:hover
{
	background-color:#00ffaa
}
#android
{
	background-color:#106400
}
#android:hover
{
	background-color:#2aff00
}
#ios
{
	background-color:#426400
}
#ios:hover
{
	background-color:#aaff00
}
#other
{
	background-color:#645300
}
#other:hover
{
	background-color:#ffd500
}
#pc
{
	background-color:#642900
}
#pc:hover
{
	background-color:#ff6a00
}
#smartphone
{
	background-color:#640008
}
#smartphone:hover
{
	background-color:#ff0015
}
#otherhardware
{
	background-color:#64003a
}
#otherhardware:hover
{
	background-color:#ff0095
}
#diy
{
	background-color:#5c0064
}
#diy:hover
{
	background-color:#ea00ff
}
#math
{
	background-color:#290064
}
#math:hover
{
	background-color:#6a00ff
}
#physics
{
	background-color:#000864
}
#physics:hover
{
	background-color:#0015ff
}
#chemistry
{
	background-color:#003a64
}
#chemistry:hover
{
	background-color:#0095ff
}
#biology
{
	background-color:#00645c
}
#biology:hover
{
	background-color:#00ffea
}
#economy
{
	background-color:#006429
}
#economy:hover
{
	background-color:#00ff6a
}
#sociology
{
	background-color:#086400
}
#sociology:hover
{
	background-color:#15ff00
}
#stats
{
	background-color:#296400
}
#stats:hover
{
	background-color:#6aff00
}
#psychology
{
	background-color:#5c6400
}
#psychology:hover
{
	background-color:#eaff00
}
#questions
{
	background-color:#643a00
}
#questions:hover
{
	background-color:#ff9500
}
#suggestions
{
	background-color:#640800
}
#suggestions:hover
{
	background-color:#ff1500
}
#bugreport
{
	background-color:#640019
}
#bugreport:hover
{
	background-color:#ff0040
}
#angery
{
	background-color:#64004b
}
#angery:hover
{
	background-color:#ff00bf
}
#discussion
{
	background-color:#4b0064
}
#discussion:hover
{
	background-color:#bf00ff
}
#debate
{
	background-color:#190064
}
#debate:hover
{
	background-color:#4000ff
}
#ad
{
	background-color:#001964
}
#ad:hover
{
	background-color:#0040ff
}
#offtopic
{
	background-color:#004b64
}
#offtopic:hover
{
	background-color:#00bfff
}
.subSectionContainer img
{
	width:50px;
	height:50px;
	margin:10px
}
.subSectionContainer
{
	display:flex;
	flex-wrap: wrap
}
.subSectionContainer h4
{
	margin-top:25px;
}
