$textColor:white;
$linkHover:#20FBFF;
$background:#111;
$headerBackground:$background;
$footerBackground:$background;
$mainOptionsColor:#00EDFF;
$baseForumCategoryColor:#00EDFF;

/***************************/
/****** TOPICS COLORS ******/
/***************************/
$topicUnderline:lightgrey;

/*topic entry*/
$baseTopicColor:lightgrey;
$mainTopicBackground:transparentize($baseTopicColor,.8);
$hoverTopicBackground:$baseTopicColor;

$unsolvedColor:#09E;
$solvedColor:#0C3;



/****************************/
/****** COURSES COLORS ******/
/****************************/
$tipsColor:(
	"warning":#FA0,
	"good":#0F0,
	"info":#2BF,
	"error":#F00
);


/****************************/
/****** WYSIWYG COLORS ******/
/****************************/
$buttonBackground:black;
$buttonBorder:#111;
$buttonHover:#00EDFF;
$buttonDisabled:#575757;