<p style="font-family:Courier, monospace, Droid Sans Mono">
&nbsp_&nbsp&nbsp_&nbsp&nbsp&nbsp&nbsp___&nbsp&nbsp_&nbsp&nbsp_<br/>
|&nbsp||&nbsp|&nbsp&nbsp/&nbsp_&nbsp\|&nbsp||&nbsp|<br/>
|&nbsp||&nbsp|_|&nbsp|&nbsp|&nbsp|&nbsp||&nbsp|_<br/>
|__&nbsp&nbsp&nbsp_|&nbsp|_|&nbsp|__&nbsp&nbsp&nbsp_|<br/>
&nbsp&nbsp&nbsp|_|&nbsp&nbsp\___/&nbsp&nbsp&nbsp|_|<br/>

Je suis trop fainéant pour faire une vraie page 404. Alors, sois gentil, ne bidouille pas l'URL, et ne clique pas sur des liens bizarres.<br/>
 OK? NAN PARCE QUE MOI CA M2NERVE LES GEN PA JANTI<br/>
&nbsp&nbsp&nbsp&nbsp&nbsp\\\\\<br/>
&nbsp&nbsp&nbsp&nbsp/&nbsp&nbsp==&nbsp\&nbspZ&nbspz&nbspz...<br/>
&nbsp&nbsp&nbsp&nbsp|&nbsp-&nbsp-&nbsp|<br/>
&nbsp&nbsp&nbsp&nbsp|&nbsp&nbsp_&nbsp&nbsp|<br/>
&nbsp&nbsp&nbsp&nbsp\_____/<br/>
_______|+=======+___________<br/>
&nbsp&nbsp&nbsp_____|&nbsp&nbsp&nbsp=&nbsp&nbsp&nbsp|_________<br/>
&nbsp&nbsp/[][]&nbsp|&nbsp&nbsp&nbsp=&nbsp&nbsp&nbsp|&nbsp&nbsp[][][]/<br/>
&nbsp/[][]&nbsp&nbsp+===♠===+&nbsp[][][]/<br/>
/_______&nbsp__|&nbsp|_&nbsp_______/<br/>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp/&nbsp|&nbsp|&nbsp\<br/>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp\_____/<br/>
</p>
<a href = "<%=url%>"> Cliquez ici pour DEGAGER >:(</a>