<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/dark/404.css">
</head>
<body>
	<div class = "broken1">
		<div class = "broken0">
			<% include header.ejs %>
		</div>
	</div>
</body>
</html>
