<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Erreur 404 (Page introuvable) - Almati</title>
		<link rel="stylesheet" href="../css/dark/404.css">
	</head>
	<body style = "overflow-x:scroll;">
		<h1> 404 <p> C cassé</p><div class = "shadow"></div></h1>
		<div class = "ground">

			<div class = "falling">
				<% include header.ejs %>
			</div>
		</div>
		<a href=".."> Retour </a>
	</body>
</html>
