<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Tutos et cours - Almati</title>
    <link rel="stylesheet" href="<%=url%>css/dark/cours.css">
	<link rel="stylesheet" href="<%=url%>css/dark/login.css">
</head>
<body>
	<% include header.ejs%>
    <div id = "presentation">
        <h3> Tutoriaux & cours</h3>
        <p> Sur cette page vous pouvez accéder aux tutoriaux et aux cours. Les cours sont constitués de plusieurs pages et vous permettent d'acquérir de nouvelles compétences, tandis que les tutos vous permettent de faire quelque chose, sans se préoccuper de retenir.</p>
    </div>
    <div class="courseList">
        <% include liste_cours.ejs %>
    </div>
    <% include footer.ejs%>
</body>
</html>
