<link rel="stylesheet" href = "<%=url%>css/dark/courseBox.css" >
<% include header.ejs %>
<div id="tom">
    <div class = "front">
        <div class = "title">
            <h4> Template de cours</h4>
        </div>
    </div>
    <div class = "side">
        <p>Template de description de cours. Elle peut contenir
        pas mal de lignes, et cela es plutôt cool :D. Mais le mieux,
        c'est qu'elle est dans une super boite XD.</p>
    </div>
</div>


<div id="mat">

</div>
