<link rel="stylesheet" href = "<%=url%>css/dark/courseBox.css" >
<% include header.ejs %>
<div class = "courseList">
<div class = "context">
        <div class = "box">
            <div class = "top"></div>
            <div class = "front"><div class = "title"><h4> Test de cours</h4></div></div>

            <div class = "side"><p> Ceci est un texte qui sert à tester la taille du texte que la description du cours peut contenir. Elle doit être assez courte, mais permettre d'accrocher le client... euh non pardon, lecteur. </p></div>
        </div>
    </div>
<div class = "context">
        <div class = "box">
            <div class = "top"></div>
            <div class = "front"><div class = "title"><h4> Test de cours</h4></div></div>

            <div class = "side"><p> Ceci est un texte qui sert à tester la taille du texte que la description du cours peut contenir. Elle doit être assez courte, mais permettre d'accrocher le client... euh non pardon, lecteur. </p></div>
        </div>
    </div>
</div>


