<link rel = "stylesheet" href = "css/dark/footer.css">

<META CHARSET="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Dosis|Raleway" rel="stylesheet"> 

<!-- footer -->
<footer>
	<h1> Almati </h1>
	<table>
		<tbody>
			<tr><td><a href = "communaute/QuiSommesNous">Qui sommes nous ?</a><td></tr>
			<tr><td><a href = "communaute/contact">Nous contacter</a><td></tr>
			<tr><td><a href = "communaute/FAQ">FAQ</a><td></tr>
			<tr><td>Copyright Almati 2019. Pas fait avec Wix. On l'a codé avec nos mimines, nous!<td></tr>
		</tbody>
	</table>
	
</footer>
</div>
<% include login.ejs %>