<header class = "header">
	<link rel="stylesheet" href="css/dark/header.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
	<h1> Almati </h1>

	<div class = "options">
		<a class = "connect" href = "/login">
			<h2> Se connecter </h2>
		</a>
		<a class = "forum" href = "/forum">
			<h2> Forum </h2>
		</a>
		<a class = "course" href = "/course">
			<h2> Cours </h2>
		</a>
		<a class = "tutorial" href = "/tutorial">
			<h2> Tutoriaux </h2>
		</a>
	</div>
	
</header>