<!-- header d'Almati -->
<link rel = "stylesheet" href = "css/dark/header.css">
<script type="text/javascript" src="js/header.js"></script>
<META CHARSET="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Dosis|Raleway" rel="stylesheet"> 

<!-- Le header en lui-même -->
<div id = "blurred">
<header class = "header">
	<h1> Almati </h1>

	<div class = "options">
		<a onclick="connect()"><h2> Se connecter </h2></a>
		<a href = "/learn"><h2> Tutos & Cours </h2></a>
		<a href = "/forum"><h2> Forum </h2></a>
	</div>
	<script>colorHeader()</script>
	
</header>
