<!-- header d'Almati -->
<link rel = "stylesheet" href = "css/dark/header.css">
<script type="text/javascript" src="js/header.js"></script>
<META CHARSET="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Dosis|Raleway" rel="stylesheet"> 

<!-- Le header en lui-même -->

<header class = "header">
	<h1> Almati </h1>

	<div class = "options">
		<div><h2> Se connecter </h2></div>
		<div><h2> Apprendre </h2></div>
		<div><h2> Communauté </h2></div>
	</div>
	<script>colorHeader()</script>

</header>