<link rel="stylesheet" href="../css/dark/login.css">


<div id = "loginMask">
	<!-- Le masque -->
	<div class ="loginForm">
		<div><h1> Se connecter</h1>
			<button onclick = "hideConnectMenu()" id = "logout"><img src="../images/close.png"/></button>
		</div>
		<p>Nom d'utilisateur</p>
			<input id="username" type="text" name="name">
		<p>Mot de passe</p>
			<input id="username" type="password" name="name">
		<div class = "options">
			<a href = "/signUp"> Créer un compte </a> | <a href = "passwordForgotten"> Mot de passe oublié?</a>
		</div>
		

	
	</div>
</div>	