<link rel="stylesheet" href="<%=url%>css/dark/login.css">


<div id = "loginMask">
	<!-- Le masque -->
	<div class ="loginForm">
		<div><h1> Se connecter</h1>
			<button onclick = "hideConnectMenu()" id = "logout"><img src="<%=url%>images/close.png"/></button>
		</div>
		<p>Nom d'utilisateur</p>
			<input id="username" type="text" name="name">
		<p>Mot de passe</p>
			<input id="password" type="password" name="name">
		<div class = "options">
			<a href = "<%=url%>user/signUp"> Créer un compte </a> | <a href = "<%=url%>user/motDePasseOublie"> Mot de passe oublié?</a>
		</div>
	
	</div>
</div>	