<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title> Accueil - Almati </title>
		<link rel="stylesheet" href="<%=url%>css/dark/main.css">

		
	</head>
	<body>
		<% include common/header.ejs %>
		<p class = "news"> Texte aléatoire pour la barre des nouvelles / évènements  <button onclick = "hideNews()">Fermer</button></p>
		<section class = "slogan presentation">
            <h3><mark> Bienvenue sur Almati </mark></h3>
			<h4> Un site communautaire pour acquérir de nouvelles compétences </h4>
			
		</section>
		<div style = "height:100px"></div>
		<section class = "community presentation">
			<h4 class = "title"> Un site fait par la communauté, pour la communauté</h4>
			<p style = "font-size:20px;text-align:center;"> Sur ce site, vous avez un forum, des tutoriaux et des cours. Le forum est un lieu d'échange entre les utilisateurs. Et les cours ainsi que les tutoriaux sont écrits par la communauté (mais aussi par nous... parfois). De là sort un contenu toujours renouvelé. </p>
		</section>
		<div style = "height:100px"></div>
		<section class = "apprendre presentation">
			<h4> Découvrir, avec différents formats</h4>
			<p>
				Pour les nostalgiques de les bancs de l'école, nous avons les cours. Composés de plusieurs sections, ils contiennent tout ce qui vous est nécessaire pour débuter. Pour un sujet plus précis
				, vous avez les tutoriels. Plus courts, il  nécessiteront parfois des connaissances préalables.
			</p>
		</section>
	<% include common/footer.ejs %>
	</body>
</html>
