<link rel="stylesheet" href="<%=url%>css/dark/wysiwyg.css">
<div class = "menuBar">
    <button onclick = "setBold()">B</button>
    <button onclick = "setItalic()">I</button>
    <button onclick = "setUnderlined()">U</button>
    <select>
        <option>Paragraphe</option>    
        <option>Titre de section</option>    
        <option>Titre de sous-section</option>    
    </select>
    <button style = "float:right">🤔</button>
    <button onclick = "code()" style = "float:right" ></button>
    <button onclick = "note()" style = "float:right" ></button>

</div>
<div class = "content" contentEditable = true>
</div>
