<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Editeur de cour</title>
	<% include include.ejs %>
	<link rel="stylesheet" type="text/css" href="<%=url%>css/dark/wysiwyg.css">
</head>
<body>
	<% include header.ejs %>
	
	<section>
	    <div class="editor">
            <div class = "toolbar">
                <div class = "textOptions">
                    <div>
                    <input type="checkbox" class = "bold"></input>
                    <input type="checkbox" class = "underline"></input>
                    <input type="checkbox" class = "listNumber"></input>
                    <input type="checkbox" class = "list"></input>
                    <input type="checkbox" class = "code"></input>
                    </div>
                    <select name="textType">
                        <option>Titre de section</option>
                        <option>Titre</option>
                        <option>Paragraphe</option>
                    </select> 
                </div>
                <div class = "history">
                    <input type="button" class = "undo"></input>
                    <input type="button" class = "redo"></input>
                </div>
            </div>
            <div class = "content" contentEditable = "true">
            
            </div>
        </div>

    </section>


	<% include footer.ejs %>
</body>
</html>
