<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Editeur de cour</title>
	<% include include.ejs %>
	<link rel="stylesheet" type="text/css" href="<%=url%>/css/wyswyg.css">
</head>
<body>
	<% include header.ejs %>
	
	<section>
		<nav id="outils">
			
		</nav>		
	</section>


	<% include footer.ejs %>
</body>
</html>