<%include ../common/header.ejs%>
<title><%=category%> - Forum - Almati</title>
<h1><%=category%> //replace with actual category name</h1>
<p><%=categoryDescription%></p><a href = "#createSubject">Créer un nouveau sujet</a>
<h3>Derniers posts</h3>
<%include ../common/footer.ejs%>
