<%include ../common/header.ejs%>
<title>[TEMPLATE] - Forum - Almati</title>
<h1>[TEMPLATE] //replace with actual category name</h1>
<p>[subsection description]</p><a href = "#createSubject">Créer un nouveau sujet</a>
<h3>Derniers posts</h3>
<%include ../commom/footer.ejs%>

