<%include ../common/header.ejs%>
<title>Forum - Almati</title>   
<link rel="stylesheet" href="<%url%>../../css/dark/forum/menuSubjectIcon.css">
<h1>Forum</h1>
    <p>L'espace d'échange entre membres. <br/>
    Soyez respectueux, évitez le déterrage, et évitez les trolls. Une équipe de modération pourra appliquer des sanctions et supprimera votre message s'il est innaproprié</p>
    <h3 style = "text-align:left;font-size:20px;background:linear-gradient(#0AF,#07F);margin:0px;padding:1%">Programmation et langages web</h3>
    <div class = "subSectionContainer">
        <a id = "python" href="programmation/python">
            <img src="<%url%>../images/forumIcons/python.svg">
            <h4>Python</h4>
        </a>
        <a id = "C" href="programmation/c">
            <img src="<%url%>../images/forumIcons/c.svg">
            <h4>C</h4>
        </a>
        <a id = "cpp" href="programmation/cpp">
            <img src="<%url%>../images/forumIcons/cpp.svg">
            <h4>C++</h4>
        </a>
        <a id = "csharp" href="programmation/csharp">
            <img src="<%url%>../images/forumIcons/csharp.svg">
            <h4>C++</h4>
        </a>
        <a id = "js" href="programmation/javascript">
            <img src="<%url%>../images/forumIcons/javascript.svg">
            <h4>JavaScript</h4>
        </a>
        <a id = "html" href="programmation/html">
            <img src="<%url%>../images/forumIcons/html.svg">
            <h4>HTML</h4>
        </a>
        <a id = "css" href="programmation/python">
            <img src="<%url%>../images/forumIcons/css.svg">
            <h4>CSS</h4>
        </a>
        <a id = "shell" href="programmation/python">
            <img src="<%url%>../images/forumIcons/shell.svg">
            <h4>Shell</h4>
        </a>
    </div>
    <h3 style = "text-align:left;font-size:20px;background:linear-gradient(#0AF,#07F);margin:0px;padding:1%">Systèmes d'exploitation</h3>
    <h3 style = "text-align:left;font-size:20px;background:linear-gradient(#0AF,#07F);margin:0px;padding:1%">Réseau et Internet</h3>
    <h3 style = "text-align:left;font-size:20px;background:linear-gradient(#0AF,#07F);margin:0px;padding:1%">Matériel</h3>
    <h3 style = "text-align:left;font-size:20px;background:linear-gradient(#0AF,#07F);margin:0px;padding:1%">Sciences</h3>
    <h3 style = "text-align:left;font-size:20px;background:linear-gradient(#0AF,#07F);margin:0px;padding:1%">Autres</h3>
<%include ../common/footer.ejs%>
