<%include ../common/header.ejs%>
<title>[TEMPLATE] - Forum - Almati</title>
<link rel="stylesheet" href="<%url%>../../../css/dark/forum/forum.css">
<link rel="stylesheet" href="<%url%>../../../css/dark/forum/subSection.css">
<h1>[TEMPLATE] //replace with actual category name</h1>
<p>[subsection description]</p>


<h3>Derniers posts</h3>
	<div id="subjects">
	<%for(var i=0;i<20;++i){%>
		<div class = "postHeaderContainer">
			<p>Data lol</p>
		</div>
	<%}%>
	</div>
	<div style="float:clear"></div>
<%include ../common/footer.ejs%>
