<%include ../common/header.ejs%>
    <h1>Forum</h1>
    <p>L'espace d'échange entre membres. <br/>
    Soyez respectueux, évitez le déterrage, et évitez les trolls. Une équipe de modération pourra appliquer des sanctions et supprimera votre message s'il est innaproprié</p>
<%include ../common/footer.ejs%>
