<%include ../common/header.ejs%>
<title>Forum - Almati</title>   
<link rel="stylesheet" href="forum/<%url%>../../css/dark/forum/menuSubjectIcon.css">
<h1>Forum</h1>
    <p>L'espace d'échange entre membres. <br/>
    Soyez respectueux, évitez le déterrage, et évitez les trolls. Une équipe de modération pourra appliquer des sanctions et supprimera votre message s'il est innaproprié</p>
    <h3 style = "text-align:left;font-size:20px;background:linear-gradient(#0AF,#07F);margin:0px;padding:1%">Programmation et langages web</h3>
    <div class = "subSectionContainer">
        <a id = "python" href="forum/programmation/python">
            <img src="<%url%>../images/forumIcons/python.svg">
            <h4>Python</h4>
        </a>
        <a id = "C" href="forum/programmation/c">
            <img src="<%url%>../images/forumIcons/c.svg">
            <h4>C</h4>
        </a>
        <a id = "cpp" href="forum/programmation/cpp">
            <img src="<%url%>../images/forumIcons/cpp.svg">
            <h4>C++</h4>
        </a>
        <a id = "csharp" href="forum/programmation/csharp">
            <img src="<%url%>../images/forumIcons/csharp.svg">
            <h4>C++</h4>
        </a>
        <a id = "js" href="forum/programmation/javascript">
            <img src="<%url%>../images/forumIcons/javascript.svg">
            <h4>JavaScript</h4>
        </a>
        <a id = "html" href="forum/programmation/html">
            <img src="<%url%>../images/forumIcons/html.svg">
            <h4>HTML</h4>
        </a>
        <a id = "css" href="forum/programmation/python">
            <img src="<%url%>../images/forumIcons/css.svg">
            <h4>CSS</h4>
        </a>
        <a id = "shell" href="forum/programmation/python">
            <img src="<%url%>../images/forumIcons/shell.svg">
            <h4>Shell</h4>
        </a>
    </div>
    <h3 style = "text-align:left;font-size:20px;background:linear-gradient(#0AF,#07F);margin:0px;padding:1%">Systèmes d'exploitation</h3>
    <div class = "subSectionContainer">
        <a id = "gnulinux" href="forum/os/gnulinux">
            <img src="<%url%>../images/forumIcons/tux.svg">
            <h4>GNU/Linux</h4>
        </a>
        <a id = "windows" href="forum/os/windows">
            <img src="<%url%>../images/forumIcons/windows.svg">
            <h4>Windows</h4>
        </a>
        <a id = "mac" href="forum/os/mac">
            <img src="<%url%>../images/forumIcons/mac.svg">
            <h4>MacOS</h4>
        </a>
        <a id = "android" href="forum/os/android">
            <img src="<%url%>../images/forumIcons/android.svg">
            <h4>Android</h4>
        </a>
        <a id = "ios" href="forum/os/ios">
            <img src="<%url%>../images/forumIcons/ios.svg">
            <h4>iOS</h4>
        </a>
        <a id = "other" href="forum/os/other">
            <img src="<%url%>../images/forumIcons/other.svg">
            <h4>Autres systèmes</h4>
        </a>
    </div>
    <h3 style = "text-align:left;font-size:20px;background:linear-gradient(#0AF,#07F);margin:0px;padding:1%">Matériel</h3>
	<div class = "subSectionContainer">
        	<a id = "pc" href="forum/hardware/pc">
        	    <img src="<%url%>../images/forumIcons/PC.svg">
        	    <h4>PC</h4>
        	</a>
        	<a id = "smartphone" href="forum/hardware/smartphone">
        	    <img src="<%url%>../images/forumIcons/phone.svg">
        	    <h4>Smartphone</h4>
        	</a>
        	<a id = "otherhardware" href="forum/hardware/other">
        	    <img src="<%url%>../images/forumIcons/microchip.svg">
        	    <h4>Autres appareils</h4>
        	</a>
        	<a id = "diy" href="forum/hardware/diy">
        	    <img src="<%url%>../images/forumIcons/wrench.svg">
        	    <h4>Bricolage</h4>
        	</a>
	</div>
    <h3 style = "text-align:left;font-size:20px;background:linear-gradient(#0AF,#07F);margin:0px;padding:1%">Sciences</h3>
	<div class = "subSectionContainer">
		<a id = "math" href="forum/science/math">
		    <img src="<%url%>../images/forumIcons/pi.svg">
		    <h4>Mathématiques</h4>
		</a>
		<a id = "physics" href="forum/science/physics">
		    <img src="<%url%>../images/forumIcons/atom.svg">
		    <h4>Physique</h4>
		</a>
		<a id = "chemistry" href="forum/science/chemistry">
		    <img src="<%url%>../images/forumIcons/erlenmeyer.svg">
		    <h4>Chimie</h4>
		</a>
		<a id = "biology" href="forum/science/biology">
		    <img src="<%url%>../images/forumIcons/virus.svg">
		    <h4>Biologie</h4>
		</a>
		<a id = "economy" href="forum/science/economy">
		    <img src="<%url%>../images/forumIcons/euro.svg">
		    <h4>Économie</h4>
		</a>
		<a id = "sociology" href="forum/science/sociology">
		    <img src="<%url%>../images/forumIcons/sociology.svg">
		    <h4>Sociologie</h4>
		</a>
		<a id = "stats" href="forum/science/stats">
		    <img src="<%url%>../images/forumIcons/statistics.svg">
		    <h4>Statistiques</h4>
		</a>
		<a id = "psychology" href="forum/science/psychology">
		    <img src="<%url%>../images/forumIcons/brain.svg">
		    <h4>Psychologie</h4>
		</a>
	</div>
    <h3 style = "text-align:left;font-size:20px;background:linear-gradient(#0AF,#07F);margin:0px;padding:1%">Almati</h3>
	<div class = "subSectionContainer">
		<a id = "questions" href="forum/website/questions">
		    <img src="<%url%>../images/forumIcons/question.svg">
		    <h4>Questions à l'équipe</h4>
		</a>
		<a id = "suggestions" href="forum/website/suggestions">
		    <img src="<%url%>../images/forumIcons/suggestion.svg">
		    <h4>Suggestions</h4>
		</a>
		<a id = "bugreport" href="forum/website/bugreport">
		    <img src="<%url%>../images/forumIcons/exclamation.svg">
		    <h4>Rapports de bogues</h4>
		</a>
		<a id = "angery" href="forum/website/angery">
		    <img src="<%url%>../images/forumIcons/angery.svg">
		    <h4>Jesuipakontan</h4>
		</a>

	</div>
    <h3 style = "text-align:left;font-size:20px;background:linear-gradient(#0AF,#07F);margin:0px;padding:1%">Autres</h3>
	<div class = "subSectionContainer">
		<a id = "discussion" href="forum/other/discussion">
		    <img src="<%url%>../images/forumIcons/discussion.svg">
		    <h4>Discussion</h4>
		</a>
		<a id = "debate" href="forum/other/debates">
		    <img src="<%url%>../images/forumIcons/debate.svg">
		    <h4>Débats</h4>
		</a>
		<a id = "ad" href="forum/other/announcements">
		    <img src="<%url%>../images/forumIcons/announcement.svg">
		    <h4>Annonces</h4>
		</a>
		<a id = "offtopic" href="forum/other/other">
		    <img src="<%url%>../images/forumIcons/dot.svg">
		    <h4>Autres sujets</h4>
		</a>

	</div>
<!-- some icons are from onlinewebfonts: http://www.onlinewebfonts.com -->
<!-- wikimedia commons also -->
<!-- svgrepo -->
<%include ../common/footer.ejs%>
