<%include ../common/header.ejs%>
<title>[TEMPLATE] - Forum - Almati</title>
<link rel="stylesheet" href="<%url%>../../../css/dark/forum/forum.css">
<link rel="stylesheet" href="<%url%>../../../css/dark/forum/subSection.css">
<h1>[TEMPLATE] //replace with actual category name</h1>
<p>[subsection description]</p>


<h3>Sujets récemment actifs</h3>
	<div id="subjects">
	<%for(var i=0;i<20;++i){%>
		<div class = "postHeaderContainer">
			<p class = "postInfo">Par <strong>USERNAME</strong></p>
			<p class = "lastMessage">Dernier message par <strong>USERNAME</strong></p>
			<h4>POST TITLE</h4>
		</div>
	<%}%>
	</div>
	<div style="float:clear"></div>
<%include ../common/footer.ejs%>
