@use "../components/presentationParalax";

$backgrounds: [
	["parallax0.png","parallax0-light.png"],
	["parallax1.png","parallax1-light.png"],
	["parallax2.png","parallax2-light.png"]
];


@for $i from 1 through length($backgrounds){
	.parallax#{$i}{
		@media screen and (max-width: 700px){
			background:url("/images/background/#{nth(nth($backgrounds,$i),2)}");			
			background-position: center;
			background-size: cover;
			background-attachment: fixed;
		}
		@media screen and (min-width: 700px){
			background:url("/images/background/#{nth(nth($backgrounds,$i),1)}");
			background-position: center;
			background-size: cover;
			background-attachment: fixed;
		}
	}
	
}
