<footer class="footer">
	<h1 class="footer__title"> Almati </h1>
	<div class="footer__links">
		<a href = "/communaute/QuiSommesNous">Qui sommes nous ?</a>
		<a href = "/communaute/contact">Nous contacter</a>
		<a href = "/communaute/FAQ">FAQ</a>
		<p class="footer__links__text">Copyright Almati 2019. Pas fait avec "le site dont on ne doit pas pronocer le nom". On l'a codé avec nos mimines, nous!</p>
	</div>
</footer>