<!-- Le header en lui-même -->
<div id = "signUp">
<div id = "login">
<header>
	<a href="/" id="title">
		<h1>&nbsp;Almati&nbsp;</h1>
	</a>

	<div class = "options">
		<a href="#login" class="responsive" id="connectA"><h2> Se connecter </h2></a>
		<a href = "/cours" class="responsive" id="tutoA"><h2> Tutos & Cours </h2></a>
		<a href = "/communaute/forum" class="responsive" id="forumA"><h2> Forum </h2></a>
	</div>
	<input type="checkbox" name="showMenu" id="showMenu">
	<label class="linkMenuButton" for="showMenu">
		<img src ="/images/dialog/menu.svg" class ="menuButton">
	</label>
	<div id = "menuContainer">
		<div id = "menu">
			<a href="#login">
			<h2 style = "background-color:#00EDFF"> Se connecter </h2></a>
			<a href = "/cours"><h2 style = "background-color:#24f63b"> Tutos & Cours </h2></a>
			<a href = "/communaute/forum"><h2 style = "background-color:#e0c500"> Forum </h2></a>
		</div>
	</div>
</header>

