<div id="signIn" class="signinContener">

	<form action="#" class="signinContener__form" method="POST">
		<h2 class="signinContener__form__title">Connexion</h2>
		<p class="signinContener__form__error"></p>
		<label for="password" class="signinContener__form__label">Nom d'utilisateur :</label>
		<input type="text" class="signinContener__form__input">
		<label for="password" class="signinContener__form__label">Mot de passe :</label>
		<input type="password" class="signinContener__form__input">
		<input type="submit" name="submit" value="Connexion">
	</form>
	
</div>
