<section class="wysiwyg">
	<nav class="wysiwyg__toolBar"></nav>
	<div class="wysiwyg__editor">
		<div class="wysiwyg__editor__element" type="Title">
			<h1 contenteditable="true">Titre</h1>
		</div>
		<div class="wysiwyg__editor__element" type="Element">
			<p contenteditable="true" class="">I'd just like to interject for a moment.  What you're referring to as Linux, is in fact, GNU/Linux, or as I've recently taken to calling it, GNU plus Linux. Linux is not an operating system unto itself, but rather another free component of a fully functioning GNU system made useful by the GNU corelibs, shell utilities and vital system components comprising a full OS as defined by POSIX.</p>
		</div>
		<div class="wysiwyg__editor__element" type="Tips">
			<p contenteditable="true" class="tips-error">I just want to test differtn type of code</p>
		</div>
	</div>
</section>