<link rel = "stylesheet" href = "<%=url%>css/dark/common/footer.css">

<META CHARSET="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Dosis|Raleway" rel="stylesheet"> 

<!-- footer -->
<footer>
	<h1> Almati </h1>
	<table>
		<tbody>
			<tr><td><a href = "<%=url%>communaute/QuiSommesNous">Qui sommes nous ?</a><td></tr>
			<tr><td><a href = "<%=url%>communaute/contact">Nous contacter</a><td></tr>
			<tr><td><a href = "<%=url%>communaute/FAQ">FAQ</a><td></tr>
			<tr><td>Copyright Almati 2019. Pas fait avec "le site dont on ne doit pas pronocer le nom". On l'a codé avec nos mimines, nous!<td></tr>
		</tbody>
	</table>
	
</footer>
</div><!-- login  -->
<%include login.ejs%>
</div><!-- signUp -->
<%include signUp.ejs%>
