<link rel="stylesheet" href="<%=url%>css/dark/common/login.css">


<div id = "loginMask">
	<!-- Le masque -->
	<div class ="loginForm form">
		<a href="#" id = "logout"><img src="<%=url%>images/dialog/close.png"/></a>
		<h1> Se connecter</h1>
		<form>
		<input id="username" placeholder="Nom d'utilisateur "type="text" name="username"><br/>
		<input id="password"placeholder ="Mot de passe" type="password" name="password"><br/>
        <input type="submit" name="submit" style="margin-left: auto; margin-right: auto; display: block;">
		</form>
		<div class = "options">
			<a href = "<%=url%>user/signUp"> Créer un compte </a> | <a href = "<%=url%>user/motDePasseOublie"> Mot de passe oublié?</a>
		</div>
	
	</div>
</div>
