<link rel="stylesheet" href="/css/dark/common/login.css">
<div id='loginMask'>
    <div class ="loginForm">
        <noscript class="javascript">
            ⚠ Vous devez activer javascript pour bénéficier de toutes les fonctionalitées de ce formulaire !
        </noscript>
        <div class = "formMenu">
            <h1> Se connecter</h1>
            <a href="#" id = "logout"><img src="/images/dialog/close.png"/></a>
        </div>
        <form method="GET" action="#" id="loginForm">
            <p class="error"></p>
            <img src="/images/wait.svg" class="waitImg">
            <input id="pseudo" type="text" name="pseudo" placeholder="Nom d'utilisateur">
            <input id="password" type="password" name="password" placeholder="Mot de passe">
            <input type="submit" name="submit" value="Se connecter">
        </form>
        <div class = "options">
            <a href = "#signUp"> Créer un compte </a> | <a href = "/user/motDePasseOublie"> Mot de passe oublié?</a>
        </div>
    </div>
</div>

<script  type="text/javascript" src='/js/logIn.js'></script>
<script  type="text/javascript" src='/js/accountPopup.js'></script>
