<!-- Sign up page --->
    <div id = "signInMask">
        <div class ="signinForm form">
            <div class = "formMenu">
                <h1>Créer un compte</h1>
                <a href="#" id = "logout"><img src="/images/dialog/close.png"/></a>
            </div>
            <noscript class="javascript">⚠ Vous devez activer javascript pour bénéficier de toutes les fonctionalitées de ce formulaire !</noscript>
            <form>
                <div class="inputGroup">
                    <p id="pseudoError" class="error">

                    </p>
                    <input type="text" name="pseudo" id="pseudo" placeholder="Nom d'utilisateur">
                </div>
                <div class="inputGroup">
                    <p id="mailError" class="error">

                    </p>
                    <input type="text" name="mail" id="mail" placeholder="Email">
                </div>
                <div class="inputGroup">
                    <p id="passwordError" class="error">

                    </p>
                    <input type="password" name="password" id="password" placeholder="Mot de passe">
                </div>
                <div class="inputGroup">
                    <p id="pseudoError" class="error">

                    </p>
                    <input type="password" name="passwordRepeat" id="passwordRepeat" placeholder="Répéttion du mot de passe">
                </div>
                <input type="submit" name="submit" value="Valider">
            </form>
        </div>
    </div>
<script type="text/javascript" src="/js/signup.js"></script>
