#loginMask
{
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.5);
	top:0px;
	left:0px;
	position:fixed;
	padding:5px;
	display:none;
	z-index: 9999999999999999999;
}
.loginForm h1
{
    color:white;
}
#blurred:target
{
	filter: blur(5px);
}
#blurred:target ~ #loginMask
{
	display: block;
}
#signInMask
{
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.5);
	padding-top: 5px;
	padding-bottom: 5px;
}
.loginForm
{
	position:fixed;
	top:50%;
  	transform: translate(-50%, -50%);
	left:50%;
	padding:10px;
	display:flex;
	flex-direction:column;
	align-items: center;
}
.signinForm
{
	background-color:#222;
	width:40%;
	padding:10px;
	display:flex;
	flex-direction:column;
	box-shadow: 0px 0px 5px 5px #111;
	align-items: center;
	margin-top:10px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left:auto;
}
#signin
{
	margin-bottom: auto;
}
.form p, label
{
	margin:5px;
	color: white;
}
.form input
{
	z-index: 0;
	background-color:rgba(96,96,96,.5);
	border:none;
	height:40px;
	margin:5px;
	border-radius: 10px;
	color:white;
	padding:10px;
	font-size:30px;
	font-family: 'Dosis';
	display: block;
}
.form input[type="submit"]
{
	padding-top: 0;
	margin-right: auto;
	margin-left:auto;
	cursor: pointer;
	transition-duration: 0.5s;
}
.form input[type="submit"]:hover
{
    box-shadow:0px 0px 10px 10px #0AF;
    background:#0AF;
}
#blurred
{
	filter:none;
}
.options
{
	text-align:center;
}
.options a
{
	text-decoration:none;
	color:#0FF;
}
#logout
{
	display: block;
	margin-left: auto;
	margin-right: 5px;
	width:45px;
	height:45px;
	border:none;
	cursor: pointer;
}
#logout img
{
	width:40px;
	height:40px;
	text-align:center;
	margin-top:10px;
	margin-right:10px;
    background:none;
}


.tooltip {
    display:inline-block;
    position:relative;
    text-align:left;
}

.tooltip .bottom {
    min-width:200px; 
    top:40px;
    left:50%;
    transform:translate(-50%, 20%);
    padding:10px 20px;
    color:#FFFFFF;
    background-color:#0FF;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:999999999;
    box-sizing:border-box;
    border:1px solid #222;box-shadow:0 1px 8px rgba(0,0,0,0.5);
    display:none;
}

.tooltip .bottom i {
    position:absolute;
    bottom:100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}

.tooltip .bottom i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,50%) rotate(45deg);
    background-color:#0FF;
    border:1px solid #222;box-shadow:0 1px 8px rgba(0,0,0,0.5);
}
#javascript
{
	color: red;
	font-weight: bold;
}
.linkMenuButton
{
	margin:0;
	padding: 0;
}

@media screen and (max-width: 700px)
{
  .form
  {
    width:96%;
    left:5px;
    padding: 0;
  }
}
