#loginMask
{
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.5);
	top:0px;
	left:0px;
	position:fixed;
	padding:5px;
	display:none;
	z-index: 9999999999999999999;
}
#login:target, #signUp:target
{
	filter: blur(5px);
}
#login:target ~ #loginMask
{
	display: block;
}
.loginForm
{
	position:fixed;
	top:50%;
  	transform: translate(-50%, -50%);
	left:50%;
	padding:10px;
	display:flex;
	flex-direction:column;
}

/* loginForm options, not header */
.options
{
	text-align:center;
}
#logout
{
	display: block;
	margin-left: auto;
	margin-right: 5px;
	width:45px;
	height:45px;
	border:none;
	cursor: pointer;
}
#logout img
{
	width:40px;
	height:40px;
	text-align:center;
	margin-top:10px;
	margin-right:10px;
}

.javascript
{
	color: red;
	font-weight: bold;
}

.linkMenuButton
{
	margin:0;
	padding: 0;
}
.formMenu h1
{
    float:left
}
.formMenu a
{
    float:right
}

input[type="submit"]{
    cursor: pointer;
}

form.wait *{
    display: none;
}

form .waitImg{
    display: none;
}

form.wait .waitImg {
    display: block;
    width: 100%;
    height: 100%;
    margin:auto;
}


form .error {
    margin:2px;
    color:red;
    font-weight: bold;
}

@media screen and (max-width: 700px)
{
  form
  {
    width:96vw;
    padding: 0;
  }
  form input,form input[type='submit'], .sigin
  {
      font-size:150%;
  }
  form *
  {
      box-sizing:border-box;
  }
}
