@keyframes fallingHeader
{
	0%
	{
		transform:rotate(0deg);
	}
	100%
	{
		transform:rotate(67deg);
	}
}
@keyframes backFalling
{
	0%
	{
		transform:rotateX(0deg);
	}
	100%
	{
		transform:rotateX(90deg);
	}
}
@keyframes ground
{
	0%
	{
		transform:translateY(0%);
	}
	100%
	{
		transform:translateY(75%);
	}
}
/* AOA = 404*/
@keyframes animAOA
{
	0%
	{
		top:-50%;
	}
	100%
	{
		top:25%;
	}
}
@keyframes rotation
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform:rotate(360deg);
	}
}
body, html
{
	height:100%;
	transform-style:preserve-3d;
	perspective-origin: 0% 100%;
	perspective:800px;

}
.header
{
	position:relative;
	transform-style:preserve-3d;
	animation: fallingHeader 2s forwards;
}
.falling
{

	transform-style:preserve-3d;
	animation: backFalling 2s forwards;
}
.ground
{
	height:100%;
	transform-style:preserve-3d;
	animation: ground 2s forwards;
}
body>h1
{
	position:absolute;
	top:-50%;
	left:50%;
	font-size:100px;
	color:white;
	text-align:center;
	animation:animAOA 1s forwards;
}
h1>p
{
	font-size:20px;
}
body>a
{
	font-size:50px;
	position:sticky;
	top:50%;
	left:50%;
	background-color:red;
	animation:rotation 1s linear infinite;
}

