.header
{
	background-color: #000;
	padding-left: 1%;
	padding-right: 0%;
	height:80px;
}
.header .options
{
	float:right;
	height:78px;
	display:flex;
	
	
	margin:0px;
}
.header .options>*
{
	height:100%;
	color:#00EDFF;
	background:#002a2d;
	border-bottom:2px solid #00EDFF;
	transition-duration: 1s;
	cursor: pointer;
}
.header a
{
	text-decoration: none;
	width:200px;
	text-align:center;
}
.news
{
	margin:0px;
	color:black;
	text-shadow:none;
	padding:10px;
}
.news a
{
	float:right;
}
.header .options a:hover
{
	background: #00EDFF;
	color:#FFF;
}

h2
{
	margin-left:10px;
	margin-right:10px;
}
body
{
	margin:0px;
	background-color: #111;
	font-family: 'Dosis';
}
h1
{
	margin-left:10px;
	color: #0AF;
	float:left;
}
.news
{
	background-color:#FF0;
}
.menuButton
{
	width:50px;
	height:50px;
	margin:15px;
	float:right;
	display:none;
}
#menuContainer
{
	display:none;
}
#menu
{
	display:none;
	padding:0px;
	margin:0px;
}
@media screen and (max-width: 700px)
{
  .header a {
    display:none;
  }
  .menuButton
  {
  	display:inline-block;
  }
  #menuContainer
  {
  	display:block;
  }
}
#menu a
{
	height:100%;
	text-decoration:none;
	margin:0px;
	padding:0px;
}
#menu h2
{
	padding:10px;
	
	color:white;
}