/* Sections entre les images*/

body
{
	height:100%;
}
.presentation
{
	margin:0px;
	padding-top:40vh;
	padding-bottom:40vh;
	text-align:center;
	width:100%;
	margin:0px;
}

/* La première image, avec le slogan */
.slogan
{
	background: url(../../images/backgrounds/parallax0.png) no-repeat center fixed; 
	background-size:cover;
	
}
.community
{
	
	background: url(../../images/backgrounds/parallax2.png) no-repeat center fixed; 
	background-size:cover;
	
	
}
h4
{
	color:white;
	font-size:20px;
}
h3
{
	font-size:30px;
}
mark
{
	background-color:#0F0;
}

.title
{
	text-align:center;
}
.apprendre
{
	background: url(../../images/backgrounds/parallax1.png) no-repeat center fixed; 
	background-size:cover;
}
.signIn
{
	background: url("../../images/backgrounds/parallax3.png") no-repeat center fixed;
	background-size: cover;
}
p
{
	margin:50px;
	text-align:justify-center;
	font-size:20px;
	color:white;
	text-shadow:0px 0px 5px black;
}


@media screen and (max-width: 500px)
{
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
