.partTitle, h4
{
    text-align:center;
    color:white;
    float:none;
}
p
{
    color:#EEE;
    font-size:20px;
}
h3
{
    color:white;
    font-size:30px;
    border-bottom:1px solid black;
    cursor: pointer;
}
h3::after
{
    float:right;
    content: "+";
    margin-left: auto;
}
h3.augm::after{
    content: "-";
}
h5
{
    color:white;
    font-size:25px;
}
.line
{
    border-bottom:10px solid #FFF;
    height:0;
}
section
{
    transform-origin:50% 0px;
    transform:scaleY(0);
    height:0;
    transition-duration:1s;
    width: 100%;
}
.info
{
    background-color:#2BF;
    min-height:64;
}
.tips p
{
    font-weight:900;
    text-shadow:0px 0px 1px #012;
    margin-left:120px;
}
.boxIcon
{
    width:96;
    height:64;
    float:left;
}

.error
{
    background-color:#F00;
    min-height:64;
}
.warning
{
    background-color:#FA0;
    min-height:64;
}
.good
{
    background-color:#0F0;
    min-height:64;
}
.reset
{
    min-height:64;
    background-color:#F0F;
}
.pub
{
    width:50%;
    text-align:center;
    background-color:white;
    height:100px;
    position:relative;
    float:none;
    clear:left;
    margin-left:50%;
    margin-right:50%;
    transform:translateX(-50%);
}
article
{
    background: #111;
    margin-left: 5%;
    margin-right:5%;
}
li::before 
{ 
    content: "•"; color: white;
    display: inline-block; width: 1em;
    margin-left: -1em;
}
ul
{
    font-size:20px;
    list-style:none;
    color:white;
}
