<link rel="stylesheet" href = "<%=url%>css/dark/cours/courseBox.css" >
<% for(var i = 0; i < 10;++i){ %>
    <div class = "context">
        <div class = "box">
            <div class = "top"></div>
            <div class = "front"><div class = "title"><h4> Test de cours numéro deux</h4></div></div>

            <a href = "<%=url%>cours/template" class = "side"><p> Ceci est un texte qui sert à tester la taille du texte que la description du cours peut contenir. Elle doit être assez courte, mais permettre d'accrocher le client... euh non pardon, lecteur. </p></a>
        </div>
    </div>
<%}%>
