<link rel="stylesheet" href = "/css/dark/cours/courseBox.css" >
<% for(var i = 0; i < 10;++i){ %>
    <div class = "context">
        <div class = "box">
            <div class = "top"></div>
            <div class = "front"><div class = "title"><h4>COURSE TITLE</h4></div></div>

            <a href = "/cours/template" class = "side"><p>COURSE DESCRIPTION</p></a>
        </div>
    </div>
<%}%>
