h3
{
    color:white;
}
.context
{
    perspective:800px;
    perspective-origin:275px 50%;
}
.box
{
    margin-top:100px;
    background-color:rgba(0,255,255,.2);
    width:150px;
    height:250px;
    transform-style:preserve-3d;
    transition-duration:1s;
    transform-origin:25% 50% 25%;
    margin-left:75px;
}
.front, .side 
{
    width:150px;
    height:250px;
    position:absolute;
}
.front
{
    background:url("../../../images/courseBackgrounds/courseDefaultBackground.png");
    background-size:cover;
    background-position:bottom;
    text-align:center;
    display:flex;
    flex-direction:column-reverse;
}
.title
{
    background-color:rgba(0,0,0,0.9);
    color:#FFF;
}
.side
{
    text-decoration:none;
    transition-duration:1s;
    background-color:#000;
    transform: rotateY(90deg) translateZ(75px) translateX(75px);
}
.side p
{
    font-size:17px;
    margin-left:3px;
    color:white;
    text-overflow: ellipsis;
    height:130px;
}
.side a
{
    text-decoration:none;
    color:#0AF;
    width:100%;
    height:20px;
    flex-direction:reverse;
}
.box:hover
{
    transform:rotateY(-90deg) translateX(-75px) translateZ(75px); 
}
.box:hover .side
{
    background-color:#222;
}
.top
{
    transform-origin:50% 50%;
    transition-duration:1s;
    width:150px;
    height:150px;
    background-color:#222;
    position:absolute;
    transform:rotateX(-90deg) translateZ(-75px) translateY(75px);
}
