h3
{
    color:white;
    font-size:5em;
    text-align:center;
}
.categoryName
{
	
	text-align:center;
	font-size:20px;
	background:linear-gradient(#0AF,#07F);
	margin:0px;
	padding:10px;
}
p
{
    text-align:center;
    font-size:2em;
    color:white;
}
body
{
    background:url("../../../images/backgrounds/courseList.jpg") no-repeat center fixed;
    background-size:cover;
    overflow-x:hidden
}
.presentation
{
    width:100%;
}
.courseList
{
    display:flex;
    flex-direction:row;
    overflow-x:scroll;
    overflow-y:hidden;
    height:400px;
    scrollbar-color: white rgba(0,0,0,0) ;
    scrollbar-width: thin;
}
section[id!signin]
{
    background-color:rgba(0,0,0,.5)
}
#courseSearch
{
    background-color:rgba(0,0,0,.5);
    transition-duration:.5s;
    border:none;
    color:#FFF;
    margin-left:50%;
    transform:translateX(-50%);
    font-family:'Dosis';
    margin-bottom:50px;
    padding:10px;
    font-size:30px;
    border-radius:10px;
    width:95%;
}
#courseSearch:focus
{
    box-shadow: 0px 0px 5px 5px #0AF;
}
.partie
{
    width:80%;
    margin-left: 10%;
}
.partie>input[type="checkbox"]
{
    width:100%;
    position: absolute;
    opacity: 0;
}
.partie article
{

}
.partie>input[type="checkbox"]:checked ~ article
{
    /* opacity: 0; */
    /* height:0px; */
    display: none;
}
.partie h2::after
{
    content: "↓";
    margin-left: 5px;
    transition-duration: 2s;
}
.partie>input[type="checkbox"]:checked + h2::after
{
    content: "↑";
}
