.partTitle, h4
{
	text-align:center;
	color:white;
	float:none;
}
p
{
	color:#EEE;
	font-size:20px;
}
h3
{
	color:white;
	font-size:30px;
	border-bottom:1px solid black;
	cursor: pointer;
}
h3::after
{
	float:right;
	content: "+";
	margin-left: auto;
}
h3.augm::after{
	content: "-";
}
h5
{
	color:white;
	font-size:25px;
}
.line
{
	border-bottom:10px solid #FFF;
	height:0;
}
section
{
	transform-origin:50% 0px;
	transform:scaleY(0);
	height:0;
	transition-duration:1s;
	width: 100%;
}

.tips
{
	font-weight:900;
	font-size: 20px;
	color: white;
	text-shadow:0px 0px 1px #012;
	margin-left:60px;
	margin-right: 60px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 96px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.tips::before{
	width:96px;
	height:64px;
	margin-left: -96px;
	float:left;
	content: " ";
}
.info
{
	background-color:#2BF;
	min-height:64px;
}
.info::before{
	background: center / contain url("../../../images/icons/info.png");
}
.error
{
	background-color:#F00;
	min-height:64px;
}
.error::before{
	background: center / contain url("../../../images/icons/error.png");
}
.warning
{
	background-color:#FA0;
	min-height:64px;
}
.warning::before{
	background: center / contain url("../../../images/icons/warning.png");
}
.good
{
	background-color:#0F0;
	min-height:64px;
}
.good::before{
	background: center / contain url("../../../images/icons/good.png");
}
.reset
{
	min-height:64px;
	background-color:#FB1C8E;
}
.reset::before{
	background: center / contain url("../../../images/icons/reset.png");
}
.pub
{
	width:50%;
	text-align:center;
	background-color:white;
	height:100px;
	position:relative;
	float:none;
	clear:left;
	margin-left:50%;
	margin-right:50%;
	transform:translateX(-50%);
}
article.coursContener
{
	background: #111;
	margin-left: 5%;
	margin-right: 5%;
}
li::before 
{ 
	content: "•"; color: white;
	display: inline-block; width: 1em;
	margin-left: -1em;
}
ul
{
	font-size:20px;
	list-style:none;
	color:white;
}
