@use "../utils/colors" as color;
@use "../layouts/header";
@use "../layouts/footer";
@use "../layouts/signin";
@use "../layouts/form";


/*Setup body and global styles*/
body {
	padding: 0;
	margin: 0;
	color:color.$textColor;
	background-color: color.$background;
	font-family: 'Dosis';
}


/* setup global links */
a {
	transition-duration: .5s;
	font-weight: bold;
	text-decoration: none;
	color:color.$textColor;
}

a:hover{
	color:color.$linkHover;
}

/* setup input style */
input, textarea{
	background-color:rgba(255,255,255,.5);
    border:none;
    border-radius:10px;
    padding:10px;
    margin-top: 10px;
    font-size:30px;
    display:block;
    width:calc(100% - 20px);
    margin:none;
    box-sizing: content-box;
}

input[type="submit"] {
	cursor:pointer;
	color:color.$textColor;
	transition-duration:.5s;
}

input[type="submit"]:hover {
	background-color:#0AF;
}

button
{
	background-color:rgba(90,100,110);
	font-size:16px;
	border:1px solid white;
	padding:10px;
	border-radius:10px;
	color:color.$textColor;
	transition-duration:.5s;
	margin:5px;
}

button:hover
{
	background-color:#0AF;
	//box-shadow:0px 3px 5px 5px rgba(16,16,16,.5);
	border-color:#111;
	cursor:pointer;
}