.footer {
	display: flex;
	padding-left: 1%;
	padding-right: 1%;
	&__title {
		
		margin-right: 20px;
	}

	&__links {
		display:flex;
		flex-direction: column;

		a {
			width: max-content;
		}

		&__text {
			margin: none;
		}
	}

	
}