@use "../utils/colors" as color;

.form {
	padding:10px;
	width: max-content;
	height: max-content;
	border-radius:10px;
	background:color.$background;

	display:block;
	margin:auto;

	&__title{
		width: 100%;
		text-align: center;
	}

	&__error {
		margin:0;
		text-align: center;
		width:100%;
		color:red;
	}

	&__closeButton{
		cursor: pointer;
		float: right;
		&__image {
			height:2em;
			width: 2em;
		}
	}
	&__waitImg{
		display:none;
	}

	$parent:&;

	&.wait{
		& *:not(#{$parent}__waitImg){
			display:none;
		}
		#{$parent}__waitImg{
			display:block;
		}
	}
}