<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Test wysiwyg - Almati</title>
</head>
<body>
	<!-- Almati wysiwyg editor -->
	<%- include("../parts/wysiwyg.ejs",{title:"test 1"}) %>

	<script type="text/javascript" src="/js/wysiwyg.js"></script>
</body>
</html>

